@use "./variables" as *;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Base font size for rem units */
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

img {
  display: block; /* More typical for images */
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none; /* Improve accessibility */
}

body {
  font-family: "Public Sans", sans-serif; /* Add fallback font */
  background-color: beige; /* Fallback for $beige-100 */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling for main content */
}

.main_Layot {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.main_Layot.sidebar {
  grid-template-columns: 1fr;
}

.overContainer {
  width: 300px;
  height: 100vh;
  background-color: $grey-900;
  border-radius: 0 $spacing-200 $spacing-200 0;
  overflow-y: auto;
  bottom: 0;
  margin: 0;
  align-items: start;
  transition: 0.3s;
  button {
    width: auto;
    background-color: transparent;
    border: none;
  }
}

.overContainer.sidebar {
  position: absolute;
  width: 88px;
  h4 {
    display: none;
  }
}

.main.sidebar {
  padding-left: 88px;
}

#my-chart .apexcharts-legend {
  display: none;
}

#react-select-container,
.react-select__control {
  background-color: red;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .main_Layot {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main.sidebar {
  padding-left: 0;
}
}
